@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

.botoes {
    background-color: #eb4f4f !important; 
    color: white !important;
    font-size: 17px !important;
    border: solid 5px #e74747 !important;
    border-radius: 15px !important;
    font-weight: 500 !important;  
    transition: all 0.4s ease-in-out !important;
    cursor: pointer;
    box-shadow: 0px 4px 0px #bb3c3c; /* sombra */
}

.botoes:hover{
    background-color: #e74747 !important; 
    box-shadow: 0px 3px 0px #bb3c3c; /* sombra ao passar o mouse */
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, .table th{
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table th {
padding-top: 12px;
padding-bottom: 12px;
text-align: center;
background-color: #ac8282;
color: white;
}

#botoesinicial {
    border-color: transparent;
    font-size: 35px;
    color: white;
    font-family: 'Unbounded', cursive;
}