@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

.botoes {
    background-color: #ff5757 !important; 
    color: white !important;
    font-size: 17px !important;
    border: solid 3px #e74747 !important;
    font-weight: 500 !important;
}

.botoes:hover{
    background-color: #e74747 !important; 
    transition: 0.5s;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, .table th{
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table th {
padding-top: 12px;
padding-bottom: 12px;
text-align: center;
background-color: #ac8282;
color: white;
}

#botoesinicial {
    border-color: transparent;
    font-size: 35px;
    color: white;
    font-family: 'Unbounded', cursive;
}